openapi: 3.1.0
info:
  title: CareGraph API
  description: |
    High-performance Open Health & Care Infrastructure Graph for Germany.
    Provides spatial radius search, fuzzy text search, and standardized provider data.
  version: 1.0.0
  contact:
    name: CareGraph API Team
    url: https://caregraph.de
    email: support@caregraph.de
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.caregraph.de/v1
    description: Production Gateway
  - url: http://localhost:8080/v1
    description: Local Development Environment

security:
  - ApiKeyAuth: []

paths:
  /infrastructure/near:
    get:
      summary: Search nearby care infrastructure
      description: Returns healthcare and care providers within a specified radius around latitude/longitude coordinates using PostGIS spatial indexing.
      operationId: getNearbyInfrastructure
      tags:
        - Infrastructure
      parameters:
        - name: lat
          in: query
          required: true
          description: Latitude in WGS 84 format (e.g. 48.7182)
          schema:
            type: number
            format: float
            minimum: -90
            maximum: 90
            example: 48.7182
        - name: lng
          in: query
          required: true
          description: Longitude in WGS 84 format (e.g. 10.7781)
          schema:
            type: number
            format: float
            minimum: -180
            maximum: 180
            example: 10.7781
        - name: radius_km
          in: query
          required: false
          description: Search radius in kilometers (default 10.0, max 100.0)
          schema:
            type: number
            format: float
            exclusiveMinimum: 0
            maximum: 100.0
            default: 10.0
            example: 15.0
        - name: type
          in: query
          required: false
          description: Filter by specific provider type
          schema:
            $ref: '#/components/schemas/ProviderType'
        - name: limit
          in: query
          required: false
          description: Maximum number of results (default 20, max 100)
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20

      responses:
        '200':
          description: Successful spatial search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureListResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'

  /infrastructure/search:
    get:
      summary: Fuzzy text search for infrastructure
      description: Uses Typesense (C++ core) for typo-tolerant, in-memory searching across provider names, cities, and services.
      operationId: searchInfrastructure
      tags:
        - Infrastructure
      parameters:
        - name: q
          in: query
          required: true
          description: Search query string (e.g., "Caritas Donauwörth" or "AOK")
          schema:
            type: string
            minLength: 2
            example: "Caritas Pflegedienst"
        - name: city
          in: query
          required: false
          description: Optional city filter
          schema:
            type: string
            example: "Donauwörth"

      responses:
        '200':
          description: Successful search response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfrastructureListResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '501':
          description: |
            Not live yet — the Typesense-backed search is still to be built.
            Returns the standard error shape with `code: not_implemented`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'

  /infrastructure/{ik_nummer}:
    get:
      summary: Get an institution by its Institution Code (IK Number)
      description: |
        Retrieves a single infrastructure entity by its 9-digit German
        Institutionskennzeichen.

        **Coverage caveat:** every Leistungserbringer has an IK, but only the
        statutory insurers' numbers are available from public sources today.
        Care providers (Pflegedienste, Pflegeheime, Pflegestützpunkte) carry
        `ik_nummer: null` and cannot be addressed through this endpoint yet —
        use `/infrastructure/search` or `/infrastructure/near` for those.
      operationId: getProviderByIK
      tags:
        - Infrastructure
      parameters:
        - name: ik_nummer
          in: path
          required: true
          description: 9-digit official IK number
          schema:
            type: string
            pattern: '^[0-9]{9}$'
            example: "490123456"

      responses:
        '200':
          description: Provider entity found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareProvider'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '404':
          description: |
            No institution carries this IK number. Distinct from `400`: the
            number is well formed, it simply is not in the dataset.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429TooManyRequests'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'

  /healthz:
    get:
      summary: Liveness and Readiness Probe
      description: Returns service health status including DB and Redis connection states.
      security: []
      tags:
        - System
      responses:
        '200':
          description: System healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  timestamp:
                    type: string
                    format: date-time

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: B2B API Key authentication header.

  schemas:
    ProviderType:
      type: string
      enum:
        - krankenkasse
        - pflegedienst_ambulant
        - pflegeheim_stationaer
        - pflegestuetzpunkt

    Address:
      type: object
      required:
        - street
        - postal_code
        - city
      properties:
        street:
          type: string
          example: "Bahnhofstraße 12"
        postal_code:
          type: string
          example: "86609"
        city:
          type: string
          example: "Donauwörth"
        state:
          type: string
          example: "Bayern"

    CareProvider:
      type: object
      required:
        - id
        - type
        - name
        - address
      properties:
        id:
          type: string
          format: uuid
          example: "c3b9a12e-1234-5678-90ab-cdef12345678"
        ik_nummer:
          type: string
          nullable: true
          example: "490123456"
        type:
          $ref: '#/components/schemas/ProviderType'
        name:
          type: string
          example: "Ambulanter Pflegedienst Muster"
        parent_organization:
          type: string
          nullable: true
          example: "Caritasverband"
        website:
          type: string
          format: uri
          nullable: true
          example: "https://pflegedienst-muster.de"
        address:
          $ref: '#/components/schemas/Address'
        distance_km:
          type: number
          format: float
          nullable: true
          description: Included in spatial radius queries
          example: 1.42
        details:
          type: object
          additionalProperties: true
          description: Dynamic JSON metadata (e.g. additional contribution rate, services offered)
          example:
            phone: "+49 906 123456"
            services: ["grundpflege", "behandlungspflege", "palliative"]
            zusatzbeitrag: 2.90

    InfrastructureListResponse:
      type: object
      required:
        - total
        - data
      properties:
        total:
          type: integer
          example: 1
        data:
          type: array
          items:
            $ref: '#/components/schemas/CareProvider'

    Error:
      type: object
      description: |
        The body of every 4xx and 5xx response, including the ones generated by
        the framework rather than a handler (unknown route, wrong method, panic).
        A client can parse any failure the same way.
      required:
        - error
        - code
      properties:
        error:
          type: string
          description: |
            Human-readable explanation. Wording may change between releases —
            branch on `code`, not on this.
          example: "parameter 'lat' must be between -90 and 90"
        code:
          type: string
          description: Stable machine-readable identifier for the failure class.
          enum:
            - invalid_parameter
            - unauthorized
            - not_found
            - method_not_allowed
            - rate_limited
            - timeout
            - not_implemented
            - internal
          example: invalid_parameter
        request_id:
          type: string
          description: |
            Correlation id for this request, matching the `X-Request-Id`
            response header and the server's log records. Quote it when
            reporting a problem.
          example: "0dfba0529a78773f16320ab786c125f9"

  responses:
    400BadRequest:
      description: |
        A parameter is missing, malformed or out of range. The message names the
        offending parameter. An unparseable optional parameter is rejected rather
        than replaced by its default.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    401Unauthorized:
      description: Missing or invalid API Key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    404NotFound:
      description: No resource matches the request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    405MethodNotAllowed:
      description: |
        The path exists but not for this method. The response carries an `Allow`
        header listing the methods that are supported.
      headers:
        Allow:
          description: Methods supported on this path
          schema:
            type: string
            example: GET
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    429TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    500InternalServerError:
      description: |
        An unexpected server-side failure. The cause is never included in the
        response — it is written to the server log under the same `request_id`.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    504GatewayTimeout:
      description: |
        The query exceeded the server-side timeout. Retryable — it points at the
        datastore, not at the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'